uclassify/xml/schemas/common/Status.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xml:lang="EN"
           finalDefault=""
           blockDefault="#all"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:complexType name="Status">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="success" type="xs:boolean" use="required"/>
        <xs:attribute name="statusCode" type="xs:positiveInteger" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>